/*global variables*/
:root {    
    --header-height: 3rem; 
    --font-semi: 600; 
    --first-color: #4070f4;
    --second-color: #0e2431;
    --body-font-family: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem; 
    --normal-font-size: 0.938rem; 
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    --z-back: -10; 
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}


/*reset*/
*, ::before, ::after {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font-family); 
    font-size: var(--normal-font-size); 
    color: var(--second-color);
    
}

ul {
    list-style-type: none; 
}

a {
    text-decoration: none;
}

img {
    display: inline-block; 
    max-width: 100%; 
    height: auto; 
}

img.logo {
    display: block; 
    width: 50px; 
    height: auto;
}

/*section settings*/
.section-title {
    position: relative; 
    font-size: var(--h2-font-size); 
    color: var(--first-color); 
    margin-top: var(--mb-2); 
    margin-bottom: var(--mb-4); 
    text-align: center; 
}

.section-title::after {
    position: absolute; 
    content: ""; 
    width: 64px; 
    height: 0.18rem;
    left: 0;
    right: 0; 
    margin: auto; 
    top: 2rem; 
    background-color: var(--first-color);
}

.section {
    padding-top: 3rem; 
    padding-bottom: 2rem; 
}


/*header*/
.bg-grid {
    max-width: 1024px; 
    display: grid; 
    grid-template-columns: 100%;
    grid-column-gap: 2rem; 
    width: calc(100% - 2rem); 
    margin: 0 var(--mb-2);     
}


.l-header {
    width: 100%; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: var(--z-fixed); 
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

.nav {
    height: var(--header-height); 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-weight: var(--font-semi); 
}

/*nav*/    
.nav__menu {
    position: fixed; 
    top: var(--header-height); 
    right: -100%;
    width: 80%;
    height: 100%; 
    padding: 2rem; 
    background-color: var(--second-color);
    transition: all .5s ease; 
}


.nav__item {
    margin-bottom: var(--mb-4);
} 

.nav__link {
    position: relative; 
    color: #fff;
    transition: all .2s ease; 
}

.nav__link:hover {
    position: relative; 
}

.nav__link:hover::after {
    position: absolute; 
    content: ""; 
    width: 100%; 
    height: 0.18rem; 
    left: 0;
    top: 2rem; 
    background-color: var(--first-color); 
}

.nav__logo {
    color: var(--second-color); 
}

.nav__toggle {
    color: var(--second-color); 
    font-size: 1.5rem; 
    cursor: pointer; 
}

/*active menu*/
.active::after {
    position: absolute; 
    content: "";
    width: 100%; 
    height: 0.18rem; 
    left: 0;
    top: 2rem; 
    background-color: var(--first-color); 
}

.show {
    right: 0; 
}

/*main*/
/*home*/
.home {
    /*
    max-width: 100vw; 
    padding-left: 2rem;
    */
    height: calc(100vh - 3rem); 
    text-align: center; 
    align-content: space-evenly;
    row-gap: 0;
    
}

.home .occupation {
    color: var(--second-color); 
    font-size: 1.6rem;
}

.home__data {
    align-self: center;
}

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}

.home__title-color {
    color: var(--first-color); 
}

.home__social {
    display: flex;   
    align-items: center; 
    justify-content: center;
    gap: var(--mb-4);
}

.home__social-icon {
    max-width: 100%;
    margin-bottom: var(--mb-2); 
    font-size: 1.5rem; 
    color: var(--second-color);
}

.home__social-icon:hover {
    color: var(--first-color); 
}

.home__img {
    width: 295px; 
    margin: 7px solid white;     
    position: absolute; 
    right: 0;
    bottom: 8%;    
}

.home__img img {
    border-radius: 50px 0 0 50px;
}

.buttons {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: var(--mb-2);
}

.button {
    cursor: pointer;
    display: inline-block; 
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem 2rem;
    font-weight: var(--font-semi); 
    border-radius: 30px; 
}

.button:hover {
    box-shadow: 0 10px 36px rgba(0,0,0,0.15); 
}

#btn-contact {
    background-color: transparent; 
    border: 1px solid var(--first-color);
    color: var(--first-color); 
}

/*about*/
.about {
    min-height: 98vh;
}

.about__container {
    row-gap: 2rem;
    text-align: center;
}

.about__subtitle {
    margin-bottom: var(--mb-2); 
}

.about__img {
    justify-self: center;
}

.about__img img {
    width: 200px; 
    border-radius: .5rem; 
}

.about__article {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    min-height: 200px;
    gap: 1rem;
}

.about__article .button {
    width: 150px;
    text-align: center
}


/*skills*/
.skills__container {
    row-gap: 2rem; 
    text-align: center; 
}

.skills__subtitle {
    margin-bottom: var(--mb-2);
    font-size: 1.1rem;
}

.skills__text {
    margin-bottom: var(--mb-4); 
}

.skills__data {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    align-items: center;
    position: relative; 
    font-weight: var(--font-semi);    
    margin: var(--mb-4) 0;
    border-radius: .5rem;     
    gap: var(--mb-4);
}

.skill_single {
    max-width: 90vw; 
    width: 300px;
    min-width: 250px;
    padding: 1.5rem 0; 
    box-shadow: 0 2px 10px rgba(14,36,49,.15);
    display: flex;
    flex-direction: column; 
    gap: 0.5rem;
    border-radius: 0.5rem;    
    cursor: pointer;
}


.skill_single h3 {
    font-size: 1.1rem; 
    color: var(--second-color); 
}

i.skill__icon {    
    filter: grayscale(80%);
    font-size: 2.5rem;
    color: var(--first-color);
}

i.skill__icon:hover {
    filter: grayscale(0%);
}


/*work*/
.work {
    text-align: center;     
    height: auto;
}

.work .work__text {
    margin-bottom: var(--mb-4);
}

.work__container {
    row-gap: 2rem; 
}

.work__single {
    box-shadow: 0 2px 10px rgba(14,36,49,.15); 
    border-radius: .5rem;
    overflow: hidden; 
    transition: all 0.2s ease;
}

.work__single:hover {
    box-shadow: 0 4px 30px rgba(14,36,49,.15); 
}


.work__img {
    transition: 1s; 
    cursor: pointer; 
}

.work__img:hover {
    transform: scale(1.1); 
}

.work #btn-projects {
    margin: var(--mb-4) 0;
}



/*contact*/
.contact {
    height: auto; 
}

.contact__input {
    width: 100%; 
    font-size: var(--normal-font-size); 
    font-weight: var(--font-semi); 
    padding: 1rem; 
    border-radius: .5rem; 
    border: none; 
    outline: none; 
    border: 0.5px solid var(--second-color);  
    margin-bottom: var(--mb-4); 
}

.contact textarea {
    line-height: 1.5;
}

.contact__button {
    display: block; 
    border: none; 
    outline: none; 
    font-size: var(--normal-font-size); 
    cursor: pointer; 
    margin-left: auto; 
    padding: 1rem; 
    border-radius: 0.5rem; 
    background-color: var(--first-color);
    color: #fff;
}

.contact .thankyou__section {
    text-align: center;   
    gap: 1.2rem;
}

.contact .thankyou__section h3 {
    color: var(--second-color);
    font-size: 1.4rem; 
    margin-bottom: var(--mb-2);
}

.contact .thankyou__section p { 
    margin-bottom: var(--mb-4);
}


/*footer*/
.footer {
    height: auto;
    background-color: var(--second-color);
    color: #fff;
    text-align: center; 
    font-weight: var(--font-semi);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--mb-5);
}

.footer ~ div {
    display: none; 
    height: 0; 
    margin: 0;
    padding: 0;     
}

.footer ~ div section {
    display: none; 
    height: 0; 
    margin: 0;
    padding: 0;     
}

#loom-companion-mv3 {
    all: unset;
    display: none; 
    margin: 0;
    padding: 0;
    position: absolute; 
    top: 0; 
    left: 0; 
    visibility: hidden; 
    max-height: 0vh; 
    min-height: 0vh; 
    height: 0vh; 
    width: 0vw; 
    min-width: 0vh; 
    max-width: 0vh;
}


.footer__title {
    font-size: 2rem; 
    text-align: center; 
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
}

.footer__link {
    font-size: 1.5rem; 
    color: #fff;
    margin: 0 var(--mb-2);
    transition: color 0.2s ease; 
}

.footer__link:hover {
    color: var(--first-color);
}

.copy__section {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;     
    font-size: 0.9rem; 
}

.copy__section .author {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.copy__section .author a {
    font-weight: 600; 
    color: var(--first-color);
}



/*media queries*/
@media screen and (min-width: 768px) {
    /*global variables*/
    :root {        
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem; 
        --normal-font-size: 1rem; 
    }    
    
    /*section*/
    .section {
        padding-top: 4rem; 
        padding-bottom: 3rem; 
    }
    
    .section-title {
        margin-bottom: var(--mb-6); 
    }
    
    .section-title::after { 
        width: 80px; 
        height: 0.3rem;
        top: 3rem; 
    }
    
    /*header*/    
    .nav {
        height: calc(var(--header-height) + 1rem); 
    }
    
    .nav__menu {
        position: unset; 
        top: unset; 
        right: unset;
        width: unset;
        height: unset; 
        padding: 0; 
        background-color: unset;        
    }
    
    .nav__list {
        display: flex;
        align-items: center; 
        gap: var(--mb-6);
    }
    
    .nav__item {
        margin-bottom: unset;
    } 

    .nav__link {
        position: relative; 
        color: var(--second-color);        
    }
    
    .nav__toggle { 
        display: none;
    }
    
    /*home*/
    section {
        height: 100vh;
    }    
    
    .home__data {
        align-self: flex-end; 
    }
    
    .home__social {
        top: -50px;
        position: relative; 
        padding-top: 0;
        padding-bottom: 0;
        margin: 0 ;
        flex-direction: row; 
        align-self: flex-end;
        gap: var(--mb-4);        
    }
    
    .home__social i {
        margin-bottom: 0; 
        font-size: 1.8rem;
    }
    
    .home__img {
        width: 420px; 
        bottom: 15%;
    }
    
    /*about*/
    .about {
        min-height: 98vh;
    }
    
    .about__container {
        grid-template-columns: repeat(2, 1fr); 
        align-items: center;
        text-align: initial;
    }    
    
    .about__article {
        justify-content: space-between;
        align-items: flex-start;
        text-align: initial;
        min-height: unset;        
        gap: unset;
    }
    
    
    /*skills*/
    section.skills {
        height: auto;
    }
    
    .skill_single { 
        width: 30%;
    }
    
    .about__img img {
        width: 300px;
    }
    
    /*work*/    
    .work__container {
        grid-template-columns: repeat(3,1fr); 
        column-gap: 2rem;
    }
    
    /*contact*/
    .contact__form {
        width: 360px; 
    }
    
    .contact__container {
        justify-items: center;
    }    
    /*footer*/        
}

@media only screen and (min-width: 1024px) {
    .bg-grid { 
        margin: 0 auto;
    }
    
    /*
    .home__img {
        right: 10%;
    }
    */
}
